---
import Navbar from '../components/Navbar.astro';
import Layout from '../layouts/Layout.astro';
---

<Layout title='Welcome to Astro.'>
	<Navbar />
	<div class='bg-dark'>
		<header class='bg-hero-pattern bg-cover bg-no-repeat
		h-screen flex flex-col'>
			<div class='flex grow flex-col items-center justify-center p-24 text-white'>
				<div class='flex flex-col items-start'>
					<span class='text-accent uppercase font-semibold l'>ROOM41 MADRID BAR-CAFE</span>
					<h1 class='logo-text text-7xl my-6 tracking-wide'>Descubre nuestros eventos</h1>
				</div>
			</div>
			<a
				href=''
				class='flex flex-row gap-2 e px-6 py-3 justify-center'>
				<svg
					xmlns='http://www.w3.org/2000/svg'
					class='text-white z-10 icon icon-tabler icon-tabler-circle-arrow-down animate-bounce'
					width='36'
					height='36'
					viewBox='0 0 24 24'
					stroke-width='1.5'
					stroke='currentColor'
					fill='none'
					stroke-linecap='round'
					stroke-linejoin='round'
					><path
						stroke='none'
						d='M0 0h24v24H0z'
						fill='none'
					></path><path d='M3 12a9 9 0 1 0 18 0a9 9 0 0 0 -18 0'></path><path d='M8 12l4 4'></path><path d='M12 8v8'
					></path><path d='M16 12l-4 4'></path></svg
				>
			</a>
		</header>
		<main class='mx-auto max-w-7xl flex items-center text-white'>
			<section class='my-20'>
				<p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Voluptatem, soluta?</p>
			</section>
		</main>
	</div>
</Layout>
